name: create-release
on:
  push:
    tags:
      - v*
permissions:
  contents: read
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          args: --current --strip all
        env:
          OUTPUT: /tmp/release-notes.md
      - run: sudo apt-get install libpixman-1-dev libwayland-dev meson scdoc wayland-protocols
      - name: prepare a tarball
        run: |
          meson setup --buildtype release build
          meson dist -C build --allow-dirty
      - uses: softprops/action-gh-release@v2
        with:
          body_path: /tmp/release-notes.md
          fail_on_unmatched_files: true
          files: |
            build/meson-dist/still-*.tar.xz
            build/meson-dist/still-*.tar.xz.sha256sum
          token: ${{ steps.app-token.outputs.token }}
